@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
      font-family: "Pixellari";
      src: url('/public/Pixellari.woff') format('woff');
  }
}

@layer utilities {

  .clip-your-needful-style {

    clip-path: polygon(0% 0%, 93.5% 0%, 100% 8.5%, 100% 62.25%, 100% 75%, 100% 100%, 0% 100%);

  }

}